<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Eidsa">
<listeners>
	<listener class-name="eidsa.EidsaTest.TestComponents.Listeners"></listener>
</listeners>

  <test thread-count="5" name="Schedule Visit Test">
    <classes>
      <class name="eidsa.EidsaTest.Test.CreateStudyTest"/>
    </classes>
  </test>

    <test thread-count="5" name="Submit Form Test">
    <classes>
      <class name="eidsa.EidsaTest.Test.SubmitFormTest"/>
    </classes>
  </test>
   <test thread-count="5" name="Review forms Test">
    <classes>
      <class name="eidsa.EidsaTest.Test.FormsTest"/>
    </classes>
  </test>
  <test thread-count="5" name="Crud Test">
    <classes>
      <class name="eidsa.EidsaTest.Test.EidsaCrudTest"/>
    </classes>
  </test>
  <test thread-count="5" name="Search Functionality Test">
    <classes>
      <class name="eidsa.EidsaTest.Test.SearchFunctionTest"/>
    </classes>
  </test>
 
  <test thread-count="5" name="Error Validation">
    <classes>
      <class name="eidsa.EidsaTest.Test.ErrorValidationTest"/>
    </classes>
  </test>
 
</suite> <!-- Suite -->
